.page {
	overflow: hidden;
}

.page-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	padding-left: 255px;
	-webkit-transition: padding 0.2s;
	-o-transition: padding 0.2s;
	transition: padding 0.2s;
}

.page-container {
	padding: 0 64px 64px;
}